{
  "trailingComma": "none",
  "singleQuote": true,
  "bracketSpacing": true,
  "bracketSameLine": true,
  "printWidth": 100,
  "tabWidth": 2,
  "useTabs": true,
  "semi": true,
  "arrowParens": "avoid"
}
